@import '../../utils/variables';
@import '../../utils/mixins';

.projectGallery {
  display: none;
  padding: 0;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  margin: 0;
}

@media (min-width: 700px) {
  .projectGallery {
    display: grid;
    grid-gap: $base-vertical-rhythm;
    margin: $base-vertical-rhythm;
    margin-bottom: 0;
    justify-content: center;
    padding: 0;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }
}

@media (min-width: 816px) {
  .projectGallery {
    grid-template-columns: repeat(4, minmax(130px, 1fr));
  }

  .project,
  .projectAlt {
    grid-column: span 2;
  }

  .item5 {
    grid-column: 2 / span 2;
  }
}

@media (min-width: 1220px) {
  .projectGallery {
    grid-template-columns: repeat(6, minmax(170px, 1fr));
  }

  .project,
  .projectAlt {
    background-color: $primary-color;
    color: $white;
    position: relative;
    overflow: hidden;
    grid-column-start: span 2;
    height: 100%;
  }

  .item4 {
    grid-column: 2 / span 2;
  }

  .item5 {
    grid-column: span 2;
  }

  .project:hover .overlay,
  .projectAlt:hover .overlay {
    bottom: 0;
    height: 100%;
    opacity: 1;
  }
}
