.largeLink {
	display: block;
    height: 40px;
    line-height: 36px;
    margin: 30px auto;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 2%;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 1.31951rem;
}

.largeLink:hover {
	color: #fff;
    background-color: #470ff4;
}

  