.projects {
	padding : 1.6667rem 0;
	text-align : center;
	background-color : #470FF4;
	color : #fff;
}

.link {
	color : #eee;
}

.projectGallery {
	display : grid;
	grid-gap : 40px;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	margin : 40px;
	justify-content : center;
	padding : 0;
}

@media (max-width : 580px) {

	.projectGallery {
		width : 100%;
		padding : 0;
		grid-gap : 0;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		margin : 0;
	}

}

@media (min-width : 736px) {

	.projectGallery {
		grid-template-columns : repeat(6, 1fr);
	}

}