@import '../../utils/variables';
@import '../../utils/mixins';

.projects {
  display: block;
  text-align: center;
  background-color: $primary-color;
  color: $secondary-color;
  padding: $section-vertical-rhythm 0;
}

.subHeading {
  margin: $base-vertical-rhythm 0;
}

.link {
  color: $text-color-for-blue-bg;
}
