@import "../../utils/variables";
@import "../../utils/mixins";

.projects {
	display: inline-block;
	text-align : center;
	background-color : $primary-color;
	color : $secondary-color;
}

.link {
	color : $grey;
}

.projectGallery {
	padding : 0;
	grid-gap : 0;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	margin : 0;
}

@media (min-width : 697px) {

	.projectGallery {
		display : grid;
		grid-gap : $base-line-height;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		margin : $base-line-height;
		justify-content : center;
		padding : 0;
		grid-template-columns: repeat(4, 1fr);
	}

}

@media (min-width : 1024px) {

	.projectGallery {
		grid-template-columns : repeat(6, 1fr);
	}

}