@import "../../utils/variables";
@import "../../utils/mixins";

.primaryAnchor {
	background-color : $secondary-color;
	color : $primary-color;
	border: 1px solid $secondary-color;
	padding : 0 30px;
	box-sizing : border-box;
	height : $base-line-height;
	line-height : $base-line-height;
	text-decoration : none;
}