@import '../../utils/variables';
@import '../../utils/mixins';

.bio {
  @include flex(center, center);
  padding: $section-vertical-rhythm 0;
  text-align: center;
  background-color: $secondary-color;
}

.content {
  padding-top: 0;
}

.bioWrapper::after {
  content: '';
  clear: both;
  display: table;
}

.bradPic {
  margin: $base-vertical-rhythm auto;
  height: 150px;
  border-radius: 25px;
  font-size: 1.625em;
}

.paragraph {
  display: block;
  text-align: center;
  margin: 0 10px;
}

@media (min-width: 400px) {
  .paragraph {
    width: 95%;
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
    font-size: 1.1rem;
  }

  .content {
    max-width: 960px;
  }
}

@media (min-width: 700px) {
  .bioWrapper {
    @include flex(center, center);
    margin: $base-vertical-rhythm 0 2.3203125em;
  }

  .bradPic {
    float: left;
    margin: 0 25px;
  }

  .paragraph {
    text-align: left;
    margin: 0 1.375em;
    max-width: 550px;
  }

  .content {
    max-width: 1050px;
  }
}

@media (min-width: 900px) {
  .content {
    max-width: 1200px;
  }
}
