@import '../../utils/variables';
@import '../../utils/mixins';

.projectCard2Col,
.projectCard3Col {
  padding: $base-vertical-rhythm;
  height: 100%;
}

.btn {
  color: $primary-color;
  margin: 0 20px;
}

.outlinedBtn {
  @extend .btn;
  border-color: $primary-color;
}

.secondaryColor {
  color: $secondary-color;
}

@media (min-width: 816px) {
  .projectCard3Col {
    display: none;
  }
}

@media (min-width: 1220px) {
  .projectCard2Col {
    display: none;
  }

  .projectCard3Col {
    display: grid;
  }
}
