@import '../../utils/variables';
@import '../../utils/mixins';

.labelledIcon {
  @include flex(start, center);
  width: 300px;
}

.icon {
  width: 100px;
}

.iconLink {
  padding: $section-vertical-rhythm;
  margin-right: 20px;
}

.disabledIconLink {
  @extend .iconLink;
  pointer-events: none;
}

.labelLink {
  color: $black;
}

.disabledLink {
  pointer-events: none;
  text-decoration: none;
  color: $black;
}

.label {
  display: inline;
}

@media (min-width: 900px) {
  .labelledIcon {
    width: 400px;
  }
}
