.labelledIcon {
	display        : flex;
	justify-content: start;
	align-items    : center;
	width          : 400px;
}

.icon {
	width : 100px;
}

.iconLink {
	padding : 50px;
}

.disabledIconLink {
	pointer-events: none;
	padding : 50px;
}

.labelLink {
	color : black;
}

.disabledLink {
	pointer-events: none;
	text-decoration : none;
	color : black;
}

.label {
	display: inline;
}