@import '../../utils/variables';
@import '../../utils/mixins';

.mobileNavbar {
  position: relative;
  background-color: $primary-color;
  height: $navbar-height;
  z-index: 100;
  border: none;
}

.navList {
  list-style-type: none;
  line-height: $navbar-height;
  margin: 0;
  padding: 0;
}

.anchor {
  text-decoration: none;
  color: $secondary-color;
}

.logo {
  float: left;
  margin: 0 (1/4) * $navbar-height;
}

.navLink {
  text-align: center;
  background-color: $secondary-color;
  margin: 0;
}

.navLink .anchor {
  display: inline-block;
  color: black;
  width: 100%;
  height: 100%;
}

.dropdownBtn {
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  background-color: $primary-color;
  height: $navbar-height;
  width: $navbar-height;
  padding: 0;
  border: 0;
  top: 0;
  right: 0;
}

/*.dropdownBtn:hover, .dropdownBtn:focus {
	background-color : #fff;
	outline : none;
}

.dropdownBtn:hover .dropdownIcon, .dropdownBtn:focus .dropdownIcon{
	color : #470FF4;
}*/

.dropdownIcon {
  box-sizing: border-box;
  width: $navbar-height !important;
  height: $navbar-height;
  padding: 5px;
  color: $secondary-color;
}

.dropdownMenu {
  position: absolute;
  width: 100%;
  top: $navbar-height;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
