@import '../../utils/variables';

.mobileNavbar {
  display: block;
  position: fixed;
  z-index: 1100;
  width: 100%;
}

.appBar {
  border        : none;
  padding       : 0;
  border-radius : 0;
  text-transform: none !important;
}

.appBar:hover {
  border : none;
  background-color : $primary-color;
}

@media (min-width: 700px) {
  .mobileNavbar {
    display: none;
  }
}
