@import '../../utils/mixins';

.labelledIconList {
  width: 100%;
  box-sizing: border-box;
  padding: 40px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
}

@media (min-width: 900px) {
  .labelledIconList {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
}
