@import '../../utils/variables';

.mobileNavbar {
  display: block;
  position: relative;
  z-index: 1100;
}

.appBar {
  box-shadow: none !important;
}

@media (min-width: 700px) {
  .mobileNavbar {
    display: none;
  }
}
