.outerDiv {
	text-align  :center;
}

/*.heading {
	margin-bottom : 0.75rem;
}

.inlineSubtitle {
	display : none;
	font-size : 1.5rem;
}

.divider {
	font-size : 2rem;
}

.blockSubtitle {
	margin-bottom : 0.85rem;
}

.bradPic {
	width           : 200px;
	height          : 200px;
	border-radius   : 50%;
	background-color: #ffffff;
	color           : #2D2E2E;
	margin-bottom   : 1.66667rem;
}

.info {
	text-align : justify;
	width : 90%;
	max-width : 400px;
	margin : 0 auto 1.66667rem;
}

.dogFig {
	margin : 25px auto 0;
	width : 50%;
}

.dogPic {
	max-width : 120px;
}

.logoGrid1 {
	display : grid;
	grid-template-columns : repeat(auto-fill, minmax(100px, 1fr));
	grid-template-rows : 100px;
	grid-auto-rows : 100px;
	grid-gap  :20px;
	justify-content : space-around;
	place-items : center;
}

.logoGrid2 {
	composes : logoGrid1;
	grid-template-columns : repeat(2, minmax(100px, 1fr));
	justify-content : space-evenly;
}

.logo {
	height : 100%;
	width : auto;
	margin-bottom : 0;
}

.jquery {
	height : auto;
	max-height : 100%;
	margin-bottom  : 0;
}

.lrgProjectsLink {
	display         : block;
	width           : 95%;
	max-width       : 800px;
	height          : 40px;
	line-height     : 36px;/* /*link height === (2 * 2px border) */
	/*margin          : 30px auto;
	background-color: #fff;
	border          : solid 2px black;
	border-radius   : 2%;
	text-align      : center;
	text-decoration : none;
	color           : black;
	font-size       : 1.31951rem;
}

.lrgProjectsLink:hover {
	color           : #fff;
	background-color: #470FF4;
}

@media (min-width : 450px) {

	.info {
		text-align : center;
	}

}

@media (min-width : 550px) {

	.logoGrid1 {
		grid-template-columns : repeat(auto-fill, minmax(150px, 1fr));
		grid-template-rows : 150px;
		grid-auto-rows : 150px;
	}

	.logoGrid1 {
		grid-template-columns : repeat(2, minmax(150px, 1fr));
	}

}

@media (min-width : 758px) {

	.logoGrid1 {
		grid-template-columns : repeat(auto-fill, minmax(175px, 1fr));
		grid-template-rows : 150px;
		grid-auto-rows : 150px;
	}

	.logoGrid2 {
		grid-template-columns: repeat(2, 175px);
	}

	.aboutGrid {
		display              : grid;
		grid-template-columns: 200px 1fr 1fr 1fr;
		grid-template-rows   : repeat(4, 35px);
		justify-items        : flex-start;
		grid-gap             : 20px;
		grid-template-areas  : 
			"bradPic heading heading heading"
			"bradPic info info dogFig"
			"bradPic info info dogFig"
			"bradPic info info dogFig"	
	}

	.heading {
		grid-area : heading;
		display : block;
		height : 100%;
		margin : 0;
	}

	.inlineSubtitle {
		display : inline;
	}

	.blockSubtitle {
		display : none;
	}

	.bradPic {
		grid-area : bradPic;
	}

	.info {
		grid-area : info;
		margin : 0;
		width : 100%;
		text-align : justify;
	}

	.dogFig {
		display       : flex;
		flex-direction: column;
		align-self    : center;
		grid-area     : dogFig;
		height        : 100%;
		width         : 100%;
		margin-top    : 0;
	}

	.dogPic {
		height    : 110px;
		width     : 110px;
		margin    : 5px auto 0;
	}

	figcaption {
		height : 35px;
		line-height : 35px;
	}

}

@media (min-width : 801px) {

	.logoGrid1 {
		grid-template-columns : repeat(auto-fill, minmax(100px, 1fr));
		grid-template-rows : 100px;
		grid-auto-rows : 100px;
	}

	.logoGrid2 {
		grid-template-columns : repeat(2, 100px);
	}

}

@media (min-width : 850px) {

	.info {
		height : 75%;
		align-self : center;
	}

}*/