.anchor {
	color : #470FF4;
	text-decoration : none;
}

.heading {
	margin : 30px auto 1.6667rem;
	text-align : center;
}

.subHeading {
	width : 90%;
	text-align  : center;
	margin: 0 auto 1.6667rem;
}

.projectGallery {
	display : grid;
	grid-gap : 30px;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	margin : 30px;
	justify-content : center;
	padding : 0;
}

.project, .projectAlt {
	background-color : #fff;
	position : relative;
	overflow: hidden;
}

.overlay {
	position: absolute;
	top : 0;
	left : 0;
	background-color: #470FF4;
	opacity : 0;
	width: 100%;
	height:100%;
	transition: .5s ease;
	display : flex;
	flex-direction : column;
	justify-content : space-evenly;
	align-items : center;
}

.overlayHeading {
	text-align  : center;
	margin : 0;
	color : #fff;
}

.techUsed {
	text-align  : center;
	margin : 0;
	color : #fff;
	width : 75%;
}

.overlayLink {
	display : block;
	color : #470FF4;
	background-color : #eee;
	text-align : center;
	width  :50%;
	margin : 0;
}

.overlayLink:hover {
	display : block;
	background-color : #fff;
	margin : 0;
}

.project:hover .overlay, .projectAlt:hover .overlay {
	bottom: 0;
	height: 100%;
	opacity : 1;
}

.thumbnail {
	margin-bottom : 0;
	padding : 50px 20px; 
	display : block;
}

.largeLink {
	margin : 30px;
}

@media (max-width : 580px) {

	.projectGallery {
		width : 100%;
		padding : 0;
		grid-gap : 0;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		margin : 0;
	}

	.thumbnail {
		padding : 50px;
	}

	.projectAlt {
		background-color : #eee;
	}

}

@media (min-width : 736px) {

	.projectGallery {
		grid-template-columns : repeat(6, 1fr);
	}

	.project, .projectAlt {
		grid-column-start : span 2;
	}

	.item4 {
		grid-column : 2 / span 2;
	}

}