.anchor {
	color : #470FF4;
	text-decoration : none;
}

.outerDiv {
	width: 90%;
    max-width: 800px;
    text-align: center;
    color: #2d2e2e;
    margin: auto;
}

img {
	margin-bottom : 0;
}

.heading {
	margin: 30px auto 1.6667rem;
    text-align: center;
}

.subHeading {
	text-align  : center;
}

.info {
	text-align : justify;
}