.desktopNavbar {
	position        : relative;
	background-color: #470FF4;
	height          : 50px;
	z-index         : 100;
	border          : none;
}

.navList {
	list-style-type: none;
	line-height    : 50px;
	overflow       : hidden;
	margin         : 0;
}

.navLink {
	float : right;
	margin : 0 10px;
}

.furthestRightNavLink {
	composes : navLink;
	margin : 0 20px 0 10px;
}

.anchor {
	text-decoration: none;
	color : #fff;
}

.logo {
	float : left;
	margin : 0 20px;
}