@import '../../utils/variables';

.desktopNavbar {
  position: relative;
  width: 100%;
  border: none;
}

.navList {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navLink {
  float: right;
  margin: 0 (1/2) * $base-vertical-rhythm;
  line-height: inherit;
}

.anchor {
  text-decoration: none;
  color: $secondary-color;
}

.logo {
  float: left;
  margin: 0 (1/2) * $base-vertical-rhythm;
}

@media (max-width: 700px) {
  .desktopNavbar {
    display: none;
  }
}
