@import '../../utils/variables';
@import '../../utils/mixins';

.navList {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  margin: 0;
  padding: 0;
  width: 100%;
  height: $lrg-navbar-height;
}

.navLink {
  @include flex(center, center);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.navLink:hover {
  background-color: #bebebe;
}

@for $i from 1 through 4 {
  .navLink#{$i} {
    @extend .navLink;
    top: $i * 100%;
    border: 1px solid;
    background-color: $secondary-color;
  }
}

.navLink4 {
  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.2),
    0px 4px 2.5px 0px rgba(0, 0, 0, 0.14), 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
}

.type {
  line-height: $lrg-navbar-height !important;
  text-align: center;
}

.anchor {
  text-decoration: none;
  color: $black;
  height: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  .navList {
    height: $standard-navbar-height;
  }

  .type {
    line-height: $standard-navbar-height !important;
  }
}
