@import '../../utils/variables';

.navList {
  position: absolute;
  top: 0;
  left: 0;
  z-index : -1;
  background-color: $secondary-color;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: $lrg-navbar-height;
}

.navLink {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width : 100%;
}

.type {
  height: 100%;
  line-height: $lrg-navbar-height;
  text-align: center;
}

.anchor {
  text-decoration: none;
  color: $black;
}
