@import '../../utils/variables';

.contact {
  padding: $section-vertical-rhythm 0;
}

.socialMediaLink {
  display: inline-block;
  margin: $base-vertical-rhythm;
}

.socialMediaIcon {
  width: 100px;
}

.socialMediaIcon:hover {
  fill: $primary-color;
}

.email {
  color: $grey-text;
}

.email:hover {
  color: $primary-color;
}
