@import '../../utils/variables';
@import '../../utils/mixins';

//switch to desktop at 697px

.project {
  background-color: $primary-color;
  color: $white;
  position: relative;
  overflow: hidden;
  border: none;
  padding : $base-vertical-rhythm;
}

.projectAlt {
  @extend .project;
  background-color: $white;
  color: $black;
}

.heading {
  text-align: center;
}

.thumbnail {
  margin: $base-vertical-rhythm auto;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 20px;
  display: block;
}

.btnWrapper {
  padding: 0 23px;
  box-sizing: border-box;
  margin: $base-vertical-rhythm 0 0;
}
