.navbar {
	position        : relative;
	background-color: #ffffff;
	height          : 50px;
	color           : #2D2E2E;
	z-index         : 100;
	border          : none;
	border-bottom   : solid 0.5px #2D2E2E;
}

.link {
	position       : absolute;
	border         : none;
	line-height    : 50px;
	text-align     : center;
	text-decoration: none;
	cursor         : pointer;
	top            : 0;
	left           : 0;
	color          : #2D2E2E;
}

.link:hover {
	color : #470FF4;
}

.logoLink {
	composes: link;
	position : static;
	margin : 0 15px;
}

.logoLink:hover {
	color : #470FF4;
}

.home, .projects, .linkedin, .github {
	composes  : link;
	display   : none;
	width     : 100%;
	background-color : #ffffff;
}

.dropDownBtn {
	composes     : navbar;
	padding      : 0;
	position     : absolute;
	border-bottom: solid 0.5px #2D2E2E;
	left         : auto;
	right        : 0;
	width        : 50px;
}

.dropDownBtn:hover, .dropDownBtn:focus {
	color : #470FF4;
	outline : none;
}

.logo, .dropDownIcon {
	height : 100%;
	box-sizing : border-box;
	padding : 5px;
}

.github:hover .logo, .linkedin:hover .logo {
	fill : #470FF4;
}

@media (min-width : 700px) {

	.navbar {
		display : flex;
		justify-content : space-between;
	}

	.dropDownBtn {
		display : none;
	}

	.internalLinksWrapper {
		position : relative;
		width : 150px;
		display : flex;
	}

	.home, .projects, .linkedin, .github {
		display         : inline;
		position        : static;
		background-color: transparent;
	}

	.linkedin, .github {
		display: block;
		height : 100%;
		width : 50px;
		float  : right;
		box-sizing : border-box;
	}

}
