.link {
	display         : block;
	position        : absolute;
	height          : 50px;
	line-height     : 50px;
	text-align      : center;
	text-decoration : none;
	cursor          : pointer;
	top             : 0;
	left            : 0;
	width           : 100%;
	background-color: #eeeeee;
	border          : solid 0.5px #2D2E2E;
	color           : #2D2E2E;
}

.link:hover {
	background-color : #470FF4; /* granite grey #5F7367*/
	color : #fff;
}

.home {
	composes: link;
	top     : 50px;
}

.projects {
	composes: link;
	top     : 100px;
}

.linkedin {
	composes: link;
	width   : 50%;
	left    : 50%;
	top     : 150px;
	border-bottom : solid 1.5px;
}

.github {
	composes: linkedin;
	left    : 0;
}

.logo {
	height : 100%;
	box-sizing : border-box;
	padding : 5px;
}

.github:hover .logo, .linkedin:hover .logo {
	fill : #fff;
}