$white: #fff;
$grey: #eee;
$black: #444;
$primary-color: #470FF4;
$secondary-color : $white;
$base-line-height : 1.66667rem;
$base-font-size : 24px;
$landscape-navbar-height : 48px;
$standard-navbar-height : 56px;
$lrg-navbar-height : 64px;


