$white: #fff;
$grey: #eee;
$black: #444;
$text-color-for-blue-bg: #b0c8d6;
$grey-text: rgba(0, 0, 0, 0.54);
$primary-color: #470ff4;
$secondary-color: $white;

$base-font-size: 24px;

$base-vertical-rhythm: 1.6667rem;
$section-vertical-rhythm: 3rem;

$landscape-navbar-height: 48px;
$standard-navbar-height: 56px;
$lrg-navbar-height: 64px;
