@import '../../utils/variables';
@import '../../utils/mixins';

.intro {
  height: 400px;
  text-align: center;
  background-color: $primary-color;
  color: $secondary-color;
  @include flex(center, center);
}

.textBox {
  width: 95%;
  margin: 0 auto;
}

.introBtn {
  background-color: $secondary-color;
  color: $primary-color;
  margin-top: 1.225rem;
}

@media (min-width: 400px) {
  .intro {
    height: 500px;
  }
}

@media (min-width: 700px) {
  .intro {
    height: 600px;
  }
}

@media (min-width: 1300px) {
  .intro {
    height: 650px;
  }
}
