.outerDiv {
	position: relative;
	width   : 95%;
	height  : 600px;
	margin  : 0 auto;
	color   : white;
}

.innerDiv {
	border       : solid;
	width        : 95%;
	height       : 600px;
	margin       : 0 auto;
	border-radius: 2%;
}

.contentContainer {
	margin-top: 10px;
	height    : calc(100% - 10px);
	width     : 100%;
	text-align:center;
}

.sectionName {
	position        : absolute;
	background-color: #0261ea;
	top             : -11px;
	left            : 12px;
	z-index         : 1;
	padding         : 0 4px;
}