.outerDiv {
	position : relative;
	width    : 95%;
	color    : #2D2E2E;
	margin   : 30px auto;
	max-width: 800px;
}

.innerDiv {
	border       : solid;
	width        : 100%;
	margin       : 0 auto;
	border-radius: 2%;
}

.contentContainer {
	height    : calc(100% - 10px);
	width     : 100%;
	text-align:center;
	box-sizing: border-box;
	padding   : 20px;
}

.sectionName {
	position        : absolute;
	background-color: #eee;
	top             : -13px;
	left            : 12px;
	z-index         : 1;
	padding         : 0 4px;
}

@media (max-width : 500px) {

	.contentContainer {

	}	

}