@import '../../utils/variables';
@import '../../utils/mixins';

.projectOverlay {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.img-left,
.img-right,
.img-up,
.img-down,
.info-left,
.info-right,
.info-up,
.info-down {
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-in-out;
}

.thumbnail {
  margin: $base-vertical-rhythm auto;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.img-left,
.img-right,
.img-up,
.img-down {
  transform: translateX(0);
  background-color: transparent;
}

.projectOverlay:hover .img-right {
  transform: translateX(100%);
  pointer-events: none;
}

.projectOverlay:hover .img-left {
  transform: translateX(-100%);
  pointer-events: none;
}

.projectOverlay:hover .img-up {
  transform: translateY(100%);
  pointer-events: none;
}

.projectOverlay:hover .img-down {
  transform: translateY(-100%);
  pointer-events: none;
}

.info-left,
.info-right,
.info-up,
.info-down {
  position: absolute;
  @include flex(center, center);
  top: 0;
  background-color: transparent;
  pointer-events: none;
}

.info-right {
  transform: translateX(-100%);
}

.info-left {
  transform: translateX(100%);
}

.info-up {
  transform: translateY(-100%);
}

.info-down {
  transform: translateY(100%);
}

.projectOverlay:hover .info-left,
.projectOverlay:hover .info-right,
.projectOverlay:hover .info-up,
.projectOverlay:hover .info-down {
  transform: translateX(0);
}

.tagsWrapper {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.tag {
  list-style: none;
  box-sizing: border-box;
  text-transform: uppercase;
  background-color: $primary-color;
  color: $secondary-color;
  padding: 8px;
  margin: 8px 4px;
  float: left;
}

.row {
  @include flex(space-between, center);
}
