@import "../../utils/variables";

.aboutMe {
	text-align : center;
	padding : $base-line-height 0;
	background-color: $secondary-color;
}

.bradPic {
	height : 200px;
}

.paragraph {
	width : 33em;
	margin : $base-line-height auto;
	text-align: justify;
}